<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/viewUsuario.css">
    <title>Document</title>
</head>

<body>
    <form id="form-login" class="login" action="">
        <div>
            <label for="">Usuario</label>
            <input name="login-usuario" type="text">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input name="login-contrasena" type="text">
        </div>
        <button type="button">Iniciar Sesión</button>
        <p id="btnFormLogin">¿No tiene cuenta?</p>
    </form>

    <form id="form-register" class="register" action="">
        <div>
            <label for="">Nombre</label>
            <input name="register-nombre" type="text">
        </div>
        <div>
            <label for="">Usuario</label>
            <input name="register-usuario" type="text">
        </div>
        <div>
            <label for="">Correo</label>
            <input name="register-correo" type="text">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input name="register-contrasena" type="text">
        </div>
        <div>
            <label for="register-confirmar">Confirmar contraseña</label>
            <input name="" type="text">
        </div>
        <button type="button">Registrarse</button>
        <p id="btnFormRegistro">¿Ya tiene cuenta?</p>
    </form>

    <script src="/views/public/js/script.js"></script>
</body>

</html>